In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a', 'b', 'c']

mylist = [10,20,30]

arr = np.array([10,20,30])

d = {'a':10, 'b':20, 'c':30}

In [3]:
pd.Series(data=mylist)

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(data=mylist,index=labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [8]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [9]:
salesQ1 = pd.Series(data=[250,450,200,150], index=['USA','China','India','Brasil'])

In [10]:
salesQ1

USA       250
China     450
India     200
Brasil    150
dtype: int64

In [13]:
salesQ2 = pd.Series(data=[260,500,210,100], index=['USA','China','India','Japan'])

In [14]:
salesQ2

USA      260
China    500
India    210
Japan    100
dtype: int64

In [15]:
salesQ2['China']

500

In [16]:
salesQ2[0]

260

In [17]:
 salesQ1 + salesQ2

Brasil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64