In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('example.csv')

In [3]:
pwd

'C:\\Users\\ovidi\\Projects\\TensorFlowQuantum\\ML\\CompleteTensorFlow2andKerasDeepLearningBootcamp'

In [4]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 56B0-1B27

 Directory of C:\Users\ovidi\Projects\TensorFlowQuantum\ML\CompleteTensorFlow2andKerasDeepLearningBootcamp

03.06.2022  08:04    <DIR>          .
03.06.2022  08:04    <DIR>          ..
03.06.2022  07:59    <DIR>          .ipynb_checkpoints
02.06.2022  18:03             4.821 02-PandasSeries.ipynb
02.06.2022  18:35            61.515 03-PandasDataFrames.ipynb
02.06.2022  23:24            22.878 04-PandasMissingData.ipynb
02.06.2022  23:36            27.182 05-PandasGrupBy.ipynb
03.06.2022  07:49            46.384 06-PandasOperations.ipynb
03.06.2022  08:04             1.278 07-PandasDataInputAndOutput.ipynb
22.11.2019  08:57                51 example.csv
02.06.2022  16:14    <DIR>          Section03
02.06.2022  16:14    <DIR>          Section04
22.11.2019  08:57            16.810 Universities.csv
               8 File(s)        180.919 bytes
               5 Dir(s)  48.251.875.328 bytes free

In [5]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [6]:
df.to_csv('output.csv',index=False)

In [7]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 56B0-1B27

 Directory of C:\Users\ovidi\Projects\TensorFlowQuantum\ML\CompleteTensorFlow2andKerasDeepLearningBootcamp

03.06.2022  08:06    <DIR>          .
03.06.2022  08:06    <DIR>          ..
03.06.2022  07:59    <DIR>          .ipynb_checkpoints
02.06.2022  18:03             4.821 02-PandasSeries.ipynb
02.06.2022  18:35            61.515 03-PandasDataFrames.ipynb
02.06.2022  23:24            22.878 04-PandasMissingData.ipynb
02.06.2022  23:36            27.182 05-PandasGrupBy.ipynb
03.06.2022  07:49            46.384 06-PandasOperations.ipynb
03.06.2022  08:06             4.729 07-PandasDataInputAndOutput.ipynb
22.11.2019  08:57                51 example.csv
03.06.2022  08:06                51 output.csv
02.06.2022  16:14    <DIR>          Section03
02.06.2022  16:14    <DIR>          Section04
22.11.2019  08:57            16.810 Universities.csv
               9 File(s)        184.421 bytes
               5 Dir(s)  48.252.329.984 bytes free

In [8]:
tables = pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/')

In [9]:
tables

[                         Bank NameBank           CityCity StateSt  CertCert  \
 0                    Almena State Bank             Almena      KS     15426
 1           First City Bank of Florida  Fort Walton Beach      FL     16748
 2                 The First State Bank      Barboursville      WV     14361
 3                   Ericson State Bank            Ericson      NE     18265
 4     City National Bank of New Jersey             Newark      NJ     21111
 ..                                 ...                ...     ...       ...
 558                 Superior Bank, FSB           Hinsdale      IL     32646
 559                Malta National Bank              Malta      OH      6629
 560    First Alliance Bank & Trust Co.         Manchester      NH     34264
 561  National State Bank of Metropolis         Metropolis      IL      3815
 562                   Bank of Honolulu           Honolulu      HI     21029

                  Acquiring InstitutionAI Closing DateClosing  FundFund
 0                            Equity Bank    October 23, 2020     10538
 1              United Fidelity Bank, fsb    October 16, 2020     10537
 2                         MVB Bank, Inc.       April 3, 2020     10536
 3             Farmers and Merchants Bank   February 14, 2020     10535
 4                        Industrial Bank    November 1, 2019     10534
 ..                                   ...                 ...       ...
 558                Superior Federal, FSB       July 27, 2001      6004
 559                    North Valley Bank         May 3, 2001      4648
 560  Southern New Hampshire Bank & Trust    February 2, 2001      4647
 561              Banterra Bank of Marion   December 14, 2000      4646
 562                   Bank of the Orient    October 13, 2000      4645

 [563 rows x 7 columns]]

In [10]:
type(tables)

list

In [11]:
tables

[                         Bank NameBank           CityCity StateSt  CertCert  \
 0                    Almena State Bank             Almena      KS     15426
 1           First City Bank of Florida  Fort Walton Beach      FL     16748
 2                 The First State Bank      Barboursville      WV     14361
 3                   Ericson State Bank            Ericson      NE     18265
 4     City National Bank of New Jersey             Newark      NJ     21111
 ..                                 ...                ...     ...       ...
 558                 Superior Bank, FSB           Hinsdale      IL     32646
 559                Malta National Bank              Malta      OH      6629
 560    First Alliance Bank & Trust Co.         Manchester      NH     34264
 561  National State Bank of Metropolis         Metropolis      IL      3815
 562                   Bank of Honolulu           Honolulu      HI     21029

                  Acquiring InstitutionAI Closing DateClosing  FundFund
 0                            Equity Bank    October 23, 2020     10538
 1              United Fidelity Bank, fsb    October 16, 2020     10537
 2                         MVB Bank, Inc.       April 3, 2020     10536
 3             Farmers and Merchants Bank   February 14, 2020     10535
 4                        Industrial Bank    November 1, 2019     10534
 ..                                   ...                 ...       ...
 558                Superior Federal, FSB       July 27, 2001      6004
 559                    North Valley Bank         May 3, 2001      4648
 560  Southern New Hampshire Bank & Trust    February 2, 2001      4647
 561              Banterra Bank of Marion   December 14, 2000      4646
 562                   Bank of the Orient    October 13, 2000      4645

 [563 rows x 7 columns]]